@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Montserrat');


/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 4
   
   Author:   Micah Fischer
   Date:     12-3-18  
   
   Filename: jb_styles.css

   This file contains the screen styles used with the 
   Jersey Buoys home page

*/

/* Reset all padding and margins. */
* {
    margin: 0;
    padding: 0;
}

/* Set main to a display of flex-box. Have flex items in a row that wraps to the line below. Justify flex box content to space around in order to have even space between objects and the edge of page. */
main {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
}

/* Set background to image. Set background size to cover. Set background attachment to fixed so body content scrolls over background */
body {
    background: url("https://i.imgur.com/7V9tYmw.jpg");
    background-size: cover;
    background-attachment: fixed;
}

/* Set the header to the full width of the page and shrink and grow evenly. Set background of linear gradient with progressive enhancement. Set border and paffing with border radius on bottom. */
header {
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    display: block;
    height: 240px;
    background: #02e1ed;
    /* Old browsers */
    background: -moz-linear-gradient(top, #02e1ed 1%, #020d54 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #02e1ed 1%, #020d54 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #02e1ed 1%, #020d54 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#02e1ed', endColorstr='#020d54', GradientType=0);
    /* IE6-9 */
    padding: 20px;
    border: 4px solid rgb(238, 110, 36);
    border-top: none;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* Add a height of 70% to images in the header. Add a drop shadow filter to the header image. */
header img {
    height: 70%;
    filter: drop-shadow(4px 4px 3px black);
}

/* Set header navigation to a flexbox. Apply webkit extension for progressive enhancement. */
header nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;

}

/* Define evenly sized navigation links within flexbox. */
header nav a {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    background: url("https://www.sketchuptextureclub.com/public/texture_d/0053-dark-fine-wood-texture-seamless-hr.jpg");
    background-size: cover;
    padding: 4px 1vw;
    border-radius: 40px;
    margin: .4vw;
    box-shadow: 0px 0px 8px black;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: .2s;
}

/* Hover effect for links. */
header nav a:hover {
    box-shadow: 0px 0px 16px black;
    filter: brightness(140%);
}

/* Define aside with a growth ratio of 1 and shrink ratio of 2 with a base size of 200px. */
aside {
    -webkit-flex: 1 2 200px;
    flex: 1 2 200px;
    background: url("https://www.sketchuptextureclub.com/public/texture_d/0053-dark-fine-wood-texture-seamless-hr.jpg");
    background-size: cover;
    padding: 2vw;
    color: white;
    border-radius: 40px;
    margin: 1vw;
    box-shadow: 0px 0px 8px black;
}

/* Aside font styles. */
aside h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 40px;
    text-shadow: 0px 0px 8px black;
}

aside h4 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 24px;
    text-shadow: 0px 0px 8px black;
}

aside p {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-shadow: 0px 0px 8px black;
}

/* Define article with a growth ratio of 3 and shrink ratio of 1 with a base size of 400px. */
article {
    -webkit-flex: 3 1 400px;
    flex: 3 1 400px;
    background: url("https://www.sketchuptextureclub.com/public/texture_d/0053-dark-fine-wood-texture-seamless-hr.jpg");
    background-size: cover;
    padding: 2vw;
    color: white;
    border-radius: 40px;
    margin: 1vw;
    box-shadow: 0px 0px 8px black;
}

/* Article font styles */
article p {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-shadow: 0px 0px 8px black;
}

article address {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-shadow: 0px 0px 8px black;
}

article h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 40px;
    text-shadow: 0px 0px 8px black;
}

/* Vertical navigation with growth ratio of 1 and shrink ratio of 4 with a base width of 200px. */
nav.vertical {
    -webkit-flex: 1 2 200px;
    flex: 1 4 200px;
    background: url("https://www.sketchuptextureclub.com/public/texture_d/0053-dark-fine-wood-texture-seamless-hr.jpg");
    background-size: cover;
    padding: 2vw;
    color: white;
    border-radius: 40px;
    margin: 1vw;
    box-shadow: 0px 0px 8px black;
}

/* Vertical navigation styles. Set a background with a border and padding. Border radius style rule and box shadow applied. Transition applied to make hover appear smooth. */
nav.vertical a {
    background: url("https://www.sketchuptextureclub.com/public/texture_d/0053-dark-fine-wood-texture-seamless-hr.jpg");
    background-size: cover;
    padding: 4px 1vw;
    border-radius: 40px;
    margin: .4vw;
    box-shadow: 0px 0px 8px black;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 24px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: .2s;
    display: block;
}

/* Vertical nav links hover effect. */
nav.vertical a:hover {
    box-shadow: 0px 0px 16px black;
    filter: brightness(140%);
}

/* Navigation h1 headings. */
nav.vertical h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 40px;
    text-shadow: 0px 0px 8px black;
}

/* Hide divs on desktop. */
div {
    display: none;
}


/* Tablet styles in a media query for devices with a max width of 768 pixels.*/
@media only screen and (max-width: 768px) {

    /* Display div on tablets. */
    div {
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    /* Hide nav links on mobile, until tablet menu is hovered. */
    nav a {
        display: none;
    }

    div a {
        display: none;
    }

    /* Span styles. */
    span {
        background: url("https://www.sketchuptextureclub.com/public/texture_d/0053-dark-fine-wood-texture-seamless-hr.jpg");
        background-size: cover;
        padding: 4px 1vw;
        border-radius: 40px;
        margin: .4vw;
        box-shadow: 0px 0px 8px black;
        font-family: 'Black Han Sans', sans-serif;
        font-size: 30px;
        color: white;
        text-decoration: none;
        text-align: center;
        transition: .2s;
        display: block;
    }

    /* On div hover show links and display div at relative positioning. */
    div:hover a {
        display: block;
        z-index: 1000;
    }

    div:hover {
        position: relative;
    }

    /* Change order on tablets. */
    aside {
        order: 99;
    }

    article {
        order: 98;
    }

    nav.vertical {
        order: 100;
    }
}

/* Mobile styles in a media query for devices with a max width of 480 pixels.*/
@media only screen and (max-width: 480px) {
    aside {
        display: none;
    }
}